.h1{
    font-size: 70px;
}
p{
    color:rgb(228, 20, 20);
    font-size: 30px;
}
.onyi_file{
    color:rgb(20, 228, 65);
    font-size: 50px;
}
.apply-blue{
    color:blue;
}
.apply-green{
    color:green;
}
.apply-red{
    color:red;
}
.apply-segoe{
    color:red;
}